[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
ipdb = "*"
sqlalchemy-serializer = "*"
pytest = "*"
flask-cors = "*"
werkzeug = "*"

[requires]
python_full_version = "*"
